.containerAbout{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerAbout .imgCapa{
    width: 100%; 
    height: 500px; 
    background-image: url('../../../src/assets/About/childrens.jpg'); 
    background-position: center;
    background-size: cover; 
    margin-bottom: 30px;
}
.containerAbout h3{
    margin-bottom: 30px;
}
.containerAbout p{
    width: 50%;
    margin-bottom: 50px;
    text-transform: capitalize;
    text-align: center;
    font-size: 0.688rem ;

}
