body{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 3fr 1fr;

    grid-template-areas: "logo navbar"
                                      "sidebar main"
                                      "sidebar footer" ;
    row-gap: 10px ;
    column-gap: 10px;
}
.logo{
    background-color: lightsalmon;
    grid-area: logo;
}
nav{
    background-color: yellow;
    grid-area: navbar;
}
aside{
    background-color: palevioletred;
    grid-area: sidebar;
}
main{
    background-color: burlywood;
    grid-area: main;
}
footer{
    background-color: lightblue;
    grid-area: footer ;
}
