*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "header  header header header"
                                      "main main . sidebar"
                                      "footer footer footer footer";
}
.container{
    display: grid;
    border: 2px solid black;
}
header{
    background-color: orange;
    grid-area: header;
}
main{
    background-color: lightskyblue;
    grid-area: main;
}
aside{
    background-color: coral;
    grid-area: sidebar;
}
footer{
    background-color: greenyellow;
    grid-area: footer;
}